@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(31, 40, 75, 0.742),
    rgba(15, 17, 25, 0.834)),url(image/banner.jpg);

    background-position: center;
    background-size: cover;
    position: relative;
}

.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}

nav img {
    width: 150px;
}
.nav-link{
    flex: 1;
    text-align: right;
}

.nav-link ul li {
    list-style: none;
    display:inline-block ;
    padding: 8px 12px;
    /* position: relative; */
}

.nav-link ul li a {
    color: #0cddf5;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}

.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f33527d7;
    display: block;
    margin: auto;
    transition: 0.6s;
}

.nav-link ul li:hover::after{
    width: 100%;
}

.nav-link ul li a:hover{
    transition: 0.8s;
    font-size: 30px;
    color: #e70743e2;
    background-color: #ff757505;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
    background: rgb(0,156,190);
background: linear-gradient(90deg, rgba(0,156,190,0.9632002459186799) 0%, rgba(134,15,217,0.9379901618850666) 18%, rgba(175,15,217,0.9379901618850666) 47%, rgba(217,15,150,0.9379901618850666) 67%, rgba(217,15,211,0.9379901618850666) 88%);

-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 17px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1.5px solid rgba(226, 163, 3, 0.796);
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}


.hero-btn:hover{
    border: 1px solid #1536d6a3;
    transition: 0.7s;
    background-color: background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,0.7458333675266982) 0%, rgba(152,53,154,0.9251050762101716) 17%, rgba(167,50,136,0.9167017148656338) 29%, rgba(195,43,101,0.8858893899356618) 52%, rgba(229,35,59,0.8410714627647934) 80%, rgba(253,29,29,1) 100%, rgba(252,176,69,0.7962535355939251) 100%);
}

nav .fa-solid {
    display: none;
}


@media(max-width:700px) {
    .text-box h1{
        font-size: 22px;
    }

    .nav-link ul li{
        display: block;
    }
    .nav-link{
        position: fixed;
        background-color: #151515;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

     .nav-link.active{
        right: 0;
     }
     .nav-link ul li a:hover{
        transition: 0.8s;
        font-size: 21px;
        color: #e70743e2;
        background-color: #ff757505;
    }

    nav .fa-solid {
        display: block;
        color: #fdfeca;
        margin: 10px;
        font-size: 29px;
        cursor: pointer;
    }

    .nav-link ul li a {
        font-size: 19px;
        font-weight: 540;
    }

    .nav-link ul li :hover{
        background: #030303;
        color: #00eaff;
        letter-spacing: 5px;
    }

    .nav-link ul {
        padding: 30px;
    }

}

/* ------- Course ------- */

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1{
    font-size: 36px;
    font-weight: 600;
}

.course p {
    color: #777;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
    text-align: justify;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
}

.course-col{
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    font-weight:600;
    margin: 10px 0 ;
}

.course-col:hover{
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.2);
    transition: 0.5s;
    cursor: pointer;
}

@media (max-width:700px) {
   .row{
    flex-direction: column;
   }
}


/* ------campus ------ */

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus p{
    padding: 15px;
    margin: 5px;
    text-align: justify;
    font-size: 15px;

}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
}

.campus-col img {
    width: 100%;
    display: block;
}

.layer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}

.layer:hover{
    background-color: rgba(226,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.6s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}


/* ---Facilities----- */
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities p{
    text-align: justify;
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;

}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
    height: 550px;
    
}

.facilities-col p {
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

@media (max-width:700px) {
    .facilities-col img{
        width: 100%;
        border-radius: 10px;
        height: 400px;
        
    }
 }

/* ---- Testimonials---- */

.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-top: 5%;
    text-align: left;
    background-color: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col p {
    padding: 0; text-align: justify;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}

.testimonial-col .fa-solid {
color: #be1609dc;
}

@media (max-width:700px) {
    .testimonial-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
    .testimonials p{
        text-align: justify;
    }

}

/* ------ Call to action------ */
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(28, 27, 27, 0.7),rgba(28, 14, 14, 0.7)), url(image/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
    font-size: 30px;
}
@media (max-width:700px) {
    .cta h1{
        font-size: 22px;
    }
}


/* ------------------- About Us Page------------------ */

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/background\ Image.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1{
    margin-top: -30px;
    font-size: xxx-large;
    background: linear-gradient(90deg, rgba(0,209,255,1) 0%, rgba(168,29,170,1) 40%, rgba(219,22,101,1) 74%, rgba(255,0,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    
    padding: 15px 0 25px;
}

.red-btn{
    border: 1.6px solid #f44336;
    background: transparent;
    color: #0a3f44;
    font-size: larger;
    font-weight: bold;
    transition: 1s; 
}

@media (max-width:700px) {
    .about-col-div{
        text-align: center;
         
    }
}



/* ------Blog Page Content-------- */
.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog-lef {
    flex-basis: 65%;
}
.blog-lef img{
    width: 100%;
}

.blog-lef h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-lef p,ul {
    color: #999;
    padding: 0;
   
}

.blog-lef ul {
    padding: 0 20px;
}

.blog-right{

    flex-basis: 32%;
}
.blog-right h3{
    background: #b9190de5;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}



.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3 {
    text-align: left;
}

.comment-form input, .comment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: #f0f0f0;
}

.comment-form button{
    margin: 10px 0;
    color: rgb(50, 5, 5);
    font-weight: bold;

}

@media (max-width:700px) {
    .sub-header h1{
font-size: 24px;
    }
}



/* ------ Contact us page----  */

.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    width: 100%;
}

.contact-us {
width: 80%;
margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa {
    font-size: 27px;
    color: rgba(11, 65, 97, 0.844);
    margin-bottom:18px;
}

.contact-col div  p{
    padding: 0;
    margin-left: 12px;

}

.contact-col div h5 {
    font-size: 18px;
    margin-bottom: px;
    margin-left:12px ;
    color: #555;
    font-weight: 430;
}

.contact-col div h5 a{
    text-decoration: none;
    color: #555;
    font-weight: 490;
    cursor: pointer;
}

.contact-col div h5 a:hover{
    background-color: rgba(108, 36, 9, 0.336);
    color: #cd3c08fd;
    font-size: 25px;
}

.contact-col input, .contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


@media (max-width:700px) {
    .contact-col div .fa {
        font-size: 26px;
        color: rgba(11, 65, 97, 0.844);
        margin-bottom:19px;
    }
    
}














/* -----Footer----- */

.footer{
    width: 100%;
    text-align: center;
    padding-top: 30px ;
    background-color: #e2f9f986;
}
.footer .about h4{
    margin-bottom: 25px;
    margin-top:20px ;
    font-weight: 600;
    font-size: 24px;
}

.contact-info{
    background-color: rgb(35, 35, 35);
    padding: 1rem;
    min-height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

}

.copyright-text{
    font-size: 1rem;
    color: rgb(254, 252, 252);
}

#menubar{
    display: flex;
}

.contact-info li{
    list-style: none;
}


.icons {
    padding: 25px 10px;
}


.fab{
    color: #64dbffe2;
    font-size: 30px;
    margin: 0 13px;
    cursor: pointer;
    padding: 38px 5px;
}


@media (max-width:700px) {
    .footer-des{
        text-align: justify;
        padding: 5px 30px;
        margin-bottom: 30px;
    }

    .fab{
        font-size: 26px;
        margin: 0 6px;
        padding: 30px 5px;
    }

    .icons {
        padding: 20px 5px;
    }
    .copyright-text{
        font-size: 0.8rem;
        text-align: left;
        
        
    }

    

}

